# Data Structures and Algorithms

Python provides a variety of useful built-in data structures, such as lists, sets, and dictionaries. For the most part, the use of these structures is straightforward. 

However, common questions concerning searching, sorting, ordering, and filtering often arise.

Thus, the goal of this chapter is to discuss common data structures and algorithms involving data.

## Unpacking a Sequence into Separate Variables

Let us start with simple data structures in python

In [1]:
#create an array
#create an empty list
empty_list=[]
#2nd way of creating an empty list
empty_list=list()
#to add an item into list
empty_list.append('MISY3871')
empty_list.append(3)
print(len(empty_list))

2

In [2]:
list1=[3,5,12,4]
list2=['a','b','c',12.2]
list3=list1+list2
print(list3)

[3, 5, 12, 4, 'a', 'b', 'c', 12.2]

In [6]:
#list3.remove('c')
print(list3)
print('1st item in list3:',list3[0])

[3, 5, 12, 4, 'a', 'b', 12.2]
1st item in list3: 3

In [10]:
print('last three elements',list3[4:])
print('last item is:',list3[-1])#last item in my list

last three elements ['a', 'b', 12.2]
last item is: 12.2

In [14]:
#try to delete all occurance an item in a list
print(list3.count(3))
while list3.count('a')>0:
    list3.remove('a')

print(list3)

1
[3, 5, 12, 4, 'b', 12.2]

In [16]:
list3.insert(0,'MISY3871')
print(list3)

['MISY3871', 3, 5, 12, 4, 'b', 12.2]

In [18]:
#as an example you can create a list of even integers from 0 to 100
#1st solution
list4=[]
for i in range(0,101):
    if i%2==0:
        list4.append(i)
#2nd way:list comprehension
list5=[i for i in range(0,101) if i%2==0]
print('First five items of each list\n',list4[:5],'\n',list5[:5])
print('Last five items of each list\n',list4[-5:],'\n',list5[-5:])

First five items of each list
 [0, 2, 4, 6, 8]
 [0, 2, 4, 6, 8]
Last five items of each list
 [92, 94, 96, 98, 100]
 [92, 94, 96, 98, 100]

In [23]:
#Set data structure
list6=[3,3,1,1,4]
empty_set=set()

set1=set(list6)
print(set1)

{1, 3, 4}
<class 'dict'>

In [28]:
#you can define tuple by two way
tuple1=tuple([1,2,34,6])
#2nd way of genearitng a tuple
tuple2=(3,4,5)
#tuples are immutable data structures: you can not alter after after creation
#in other words, unchangeable list=tuples
print(tuple2)

(3, 4, 5)

In [30]:
#Dictionary data type: elements of it consist of key value pairs
#key-value pair syntax-> 'key' : value
#define a dictionary
dict1={'key1': 4,'key2': 5}
#loook how we can add a new key-value pair into dictionary
#1st way: you can use indexes
dict1['key3']=12
print(dict1)

{'key1': 4, 'key2': 5, 'key3': 12}

In [31]:
dict1.get('key1')

4

In [32]:
dict1['key3']

12

In [33]:
dict1.values()

dict_values([4, 5, 12])

In [35]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [36]:
#print all key-value pairs in dictionary line by line
for key,value in dict1.items():
    print('key:',key,'value:',value)

key: key1 value: 4
key: key2 value: 5
key: key3 value: 12

### Unpacking

In [38]:
list7=[3,2]
a,b=list7
print('a=',a,'b=',b)

a= 3 b= 2

__Problem__: You have an N-element tuple or sequence that you would like to unpack into a collection of N variables.

__Solution__: Any sequence (or iterable) can be unpacked into variables using a simple assignment operation. The only requirement is that the number of variables and structure match the sequence. For example:

In [39]:
p=(4,5)
#unpack each element of tuple p into variables
x,y=p
print(x)
print(y)

4
5

In [40]:
#2nd Example
data = [ 'MISY', 50, 91.1, (2012, 12, 21) ]
#unpack each item in data list into distinct variables
name, integer,floating, date=data
print('name:',name)
print('integer:',integer)
print('floating:',floating)
print('date:',date)

name: MISY
integer: 50
floating: 91.1
date: (2012, 12, 21)

If there is a mismatch in the number of elements, you’ll get an error. For example:

In [3]:
p=(3,4)
a,b,c=p

ValueError: not enough values to unpack (expected 3, got 2)

When unpacking, you may sometimes want to discard certain values. Python has no special syntax for this, but you can often just pick a __throwaway variable__(underscore character) name for it. For example:

In [42]:
data = [ 'MISY', 50, 91.1, (2012, 12, 21) ]
#discard first and last variable and unpack others
name,a,b,(year,month,day)=data
print('year:',year)
print('month:',month)
print('day:',day)

year: 2012
month: 12
day: 21

In [43]:
data = [ 'MISY', 50, 91.1, (2012, 12, 21) ]
#I donot want to store last item(->use throwaway variable)
name,a,b,_=data
print(name)
print(a)
print(b)

MISY
50
91.1

In [44]:
a,b=data

ValueError: too many values to unpack (expected 2)

## Unpacking Elements from Iterables of Arbitrary Length

You need to unpack __N__ elements from an iterable, but the iterable may be longer than __N__ elements, causing a “too many values to unpack” exception.

__Solution__: Python “star expressions” can be used to address this problem.

For example, suppose you run a course and decide at the end of the semester that you’re going to drop the first and last homework grades, and only average the rest of them. 

If there are only four assignments, maybe you simply unpack all four, but what if there are 24?
A star expression makes it easy:

In [46]:
#Example 1: write a function drop first and last elements and return average of other grades .
def average(grades):
    first,*rest,last=grades
    return sum(rest)/len(rest)   
    
g=[3,4,10,2,6,1]
print(average(g))

5.5

As another use case, suppose you have user records that consist of a name and email address, followed by an arbitrary number of phone numbers. You could unpack the records like this:

In [47]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')
#unpack phone numbers using star expression
name,email,*phones=record
#print all phone numbers
print(phones)

['773-555-1212', '847-555-1212']

Sometimes you might want to unpack values and throw them away. You can’t just specify a bare * when unpacking, but you could use a common throw away variable. For example:

In [48]:
record = ('ACME', 50, 123.45, (12, 18, 2012))
#unpack first item and third part of last item and discard others using star sign and throwaway variable
name,*_,(*_,year)=record
print(year)

2012

__Keeping the Last N Items__: Keeping a limited history is a perfect use for a collections.deque. For example, the
following code performs a simple text match on a sequence of lines and yields the
matching line along with the previous N lines of context when found:

In [50]:
from collections import deque

def search(lines,pattern,history=2):
    previous_lines=deque(maxlean=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)
lines=['My name is Engin','you need name to it','what is your name']
pattern='name'
print(search(lines,pattern))

<generator object search at 0x000000155F40A148>

__Finding the Largest or Smallest N Items:__You want to make a list of the largest or smallest N items in a collection.

__Solution__:  The __heapq__ module has two functions—__nlargest()__ and __nsmallest()__—that do exactly
what you want. For example:

In [51]:
from heapq import nlargest,nsmallest
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
#print 3 largest numbers in nums
print(nlargest(3,nums))
#print 3 smallest numbers in nums
print(nsmallest(3,nums))

[42, 37, 23]
[-4, 1, 2]

Both functions also accept a key parameter that allows them to be used with more complicated data structures. For example:

In [52]:
portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1},
{'name': 'AAPL', 'shares': 50, 'price': 543.22},
{'name': 'FB', 'shares': 200, 'price': 21.09},
{'name': 'HPQ', 'shares': 35, 'price': 31.75},
{'name': 'YHOO', 'shares': 45, 'price': 16.35},
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]
#find two cheapest portfolio
print(nsmallest(2,portfolio,key=lambda s: s['price']))
#find two most expensive portfolio
print(nlargest(2,portfolio,key=lambda s: s['price']))

[{'name': 'YHOO', 'shares': 45, 'price': 16.35}, {'name': 'FB', 'shares': 200, 'price': 21.09}]
[{'name': 'AAPL', 'shares': 50, 'price': 543.22}, {'name': 'ACME', 'shares': 75, 'price': 115.65}]

### Implementing Priority Queue
While writing a porgram , to sort the given jobs, you may want to implement a queue that sorts items by a given priority and always returns the item with the __highest priority__ on each __pop(DEQUEUE)__ operation. This kind queue is callde as __priority queue__.

Priority Queue is an abstract data type, which is similar to a queue, however, in the priority queue, every element has some priority.

The priority of the elements in a priority queue determines the order in which elements are removed from the priority queue. Therefore all the elements are either arranged in an ascending or descending order.

![Image of Priority Queue](https://cdn.programiz.com/sites/tutorial2program/files/Introduction.png)

Let us implement priority queue together. For this job again we will need __heapq__ modlue again.

In [12]:
import heapq

class PriorityQueue:
    def __init__(self):
        self._queue=[]
        self._index=0
    #push method put new item into given queue
    def push(self, item, priority):
        heapq.heappush(self._queue,(-priority,self._index,item))
        self._index+=1
    #how we can extract an item from the queue
    def pop(self):
        return heapq.heappop(self._queue)[-1]

In [16]:
class Item:
    def __init__(self,name):
        self._name=name
    def __repr__(self):
        return 'Item({})'.format(self._name)

In [17]:
q=PriorityQueue()
q.push(Item('item1'),1)
q.push(Item('item2'),5)
q.push(Item('item3'),4)
q.push(Item('item4'),1)

In [18]:
q.pop()

Item(item2)

In [19]:
q.pop()

Item(item3)

In [20]:
q.pop()

Item(item1)

In [21]:
x=Item('itemx')
y=Item('itemy')
x<y

TypeError: '<' not supported between instances of 'Item' and 'Item'

In [29]:
x=(1,Item('itemx'))
y=(2,Item('itemy'))
x<=y
#z=(1,Item('itemz'))
#x<z

True

__Mapping Keys to Multiple Values in a Dictionary__: You want to make a dictionary that maps keys to more than one value (a so-called “multidict”)

A dictionary is a mapping where each key is mapped to a single value. If you want to map keys to multiple values, you need to store the multiple values in another container such as a list or set. For example, you might make dictionaries like this:

In [5]:
d = {
'a' : [1, 2, 3],
'b' : [4, 5]
}
e = {
'a' : {1, 2, 3},
'b' : {4, 5}
}

The choice of whether or not to use lists or sets depends on intended use. Use a list if you want to preserve the insertion order of the items. Use a set if you want to eliminate duplicates (and don’t care about the order).

To easily construct such dictionaries, you can use __defaultdict__ in the __collections__ module. A feature of __defaultdict__ is that it automatically initializes the first value so you can simply focus on adding items. For example:

In [30]:
from collections import defaultdict
# create a dictinary which keys a and b. Each store 3 integer items as list
d=defaultdict(list)
d['a'].append('M')
d['a'].append('I')
d['a'].append('S')
d['a'].append('Y')
d['b'].append(3)
d['b'].append(8)
d['b'].append(7)
d['b'].append(1)
print(d)

defaultdict(<class 'list'>, {'a': ['M', 'I', 'S', 'Y'], 'b': [3, 8, 7, 1]})

In [32]:
d=defaultdict(set)
d['a'].add('M')
d['a'].add('I')
d['a'].add('S')
d['a'].add('Y')
d['b'].add(3)
d['b'].add(8)
d['b'].add(7)
d['b'].add(1)
print(d)

defaultdict(<class 'set'>, {'a': {'S', 'Y', 'M', 'I'}, 'b': {8, 1, 3, 7}})

## Keeeping Dictionaries in Order

In [34]:
from collections import OrderedDict
d=OrderedDict()
d['key1']=1
d['key2']=4
d['key3']=3

for k,v in d.items():
    print(k,v)

key1 1
key2 4
key3 3

Ordered Dictionary ca be useful when you want to build ammapping that you may want to later seralize or encode into diffrent format(such as you want to convert your dictionary items in json format.)

In [35]:
import json
json.dumps(d)

'{"key1": 1, "key2": 4, "key3": 3}'

## Making Calculation with Dictionaries

In [36]:
price={
    'USD/TRY': 14.00,
    'EUR/TRY': 16.00,
    'JPY/TRY': 5.0,
}

In order to perform useful calculations on the dictionary content, its often useful to invert the keys and values of dictionary using __zip()__

In [38]:
# min price in price dictionary
min(zip(price.values(), price.keys()))

(5.0, 'JPY/TRY')

In [39]:
max(zip(price.values(), price.keys()))

(16.0, 'EUR/TRY')

In [40]:
sorted(zip(price.values(), price.keys()))

[(5.0, 'JPY/TRY'), (14.0, 'USD/TRY'), (16.0, 'EUR/TRY')]

In [41]:
my_zip=zip(price.values(), price.keys())#do not forget that zip creates an iterator can be only be consumed by one time
print(min(my_zip))
print(max(my_zip))

(5.0, 'JPY/TRY')

ValueError: max() arg is an empty sequence

In [43]:
print(min(price,key=lambda k: price[k]))
print(max(price,key=lambda k: price[k]))

JPY/TRY
EUR/TRY

### Finding Commonolaties in Two Dictionary
You have two dictionaries and want to find out what might have in common(same keys, same values, etc...)

In [44]:
a={
    'x': 1,
    'y': 2,
    'z': 3
}

b={
    'w' :10,
    'x' : 3,
    'y' : 2
}

In [45]:
#finding the common keys
a.keys() & b.keys()

{'x', 'y'}

In [46]:
#find keys in a but not in b
a.keys()-b.keys()

{'z'}

In [47]:
a.items()-b.items()

{('x', 1), ('z', 3)}

In [48]:
#Make a dictionary with certain keys removed
c={k : a[k] for k in a.keys()-{'y'}}
print(c)

{'x': 1, 'z': 3}

## Soritng  A list of DEictionaries by a Common Key

Suppose we have the following dictionary data:

In [57]:
row_data=[
    {'fname':'Engin' ,'lname' : 'Kandiran', 'uid': 1005},
    {'fname':'Mahmut' ,'lname' : 'Bagci' ,'uid': 1002},
    {'fname':'Ali' ,'lname' : 'Veli', 'uid': 1004},
    {'fname':'Ayse' ,'lname' : 'Veli', 'uid': 1006}
]

In [58]:
from operator import itemgetter

sorted_by_uid=sorted(row_data,key=itemgetter('uid'))
sorted_by_lastname=sorted(row_data,key=itemgetter('lname'))
print(sorted_by_uid)
print(sorted_by_lastname)

[{'fname': 'Mahmut', 'lname': 'Bagci', 'uid': 1002}, {'fname': 'Ali', 'lname': 'Veli', 'uid': 1004}, {'fname': 'Engin', 'lname': 'Kandiran', 'uid': 1005}, {'fname': 'Ayse', 'lname': 'Veli', 'uid': 1006}]
[{'fname': 'Mahmut', 'lname': 'Bagci', 'uid': 1002}, {'fname': 'Engin', 'lname': 'Kandiran', 'uid': 1005}, {'fname': 'Ali', 'lname': 'Veli', 'uid': 1004}, {'fname': 'Ayse', 'lname': 'Veli', 'uid': 1006}]

In [59]:
sorted_by_lname_fname=sorted(row_data,key=itemgetter('lname','fname'))
print(sorted_by_lname_fname)

[{'fname': 'Mahmut', 'lname': 'Bagci', 'uid': 1002}, {'fname': 'Engin', 'lname': 'Kandiran', 'uid': 1005}, {'fname': 'Ali', 'lname': 'Veli', 'uid': 1004}, {'fname': 'Ayse', 'lname': 'Veli', 'uid': 1006}]

### Grouping Records TogetherBased on A Field
You have a sequence of dictionary and you want to iterate over the data in gtoups based on the value of particular field.

The __itertools.groupby()__ function in particularly useful fro grouping data together.

In [60]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [61]:
from itertools import groupby
rows.sort(key=itemgetter('date'))
for date,items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print(' ',i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [62]:
groupby?

In [63]:
row_data=[
    {'fname':'Engin' ,'lname' : 'Kandiran', 'uid': 1005},
    {'fname':'Mahmut' ,'lname' : 'Bagci' ,'uid': 1002},
    {'fname':'Ali' ,'lname' : 'Veli', 'uid': 1004},
    {'fname':'Ayse' ,'lname' : 'Veli', 'uid': 1004}
]

In [65]:
for uid,records in groupby(row_data,key=itemgetter('uid')):
    print(str(uid),':',records)
    for r in records:
        print(r)

1005 : <itertools._grouper object at 0x000000923705D1C8>
{'fname': 'Engin', 'lname': 'Kandiran', 'uid': 1005}
1002 : <itertools._grouper object at 0x0000009237031688>
{'fname': 'Mahmut', 'lname': 'Bagci', 'uid': 1002}
1004 : <itertools._grouper object at 0x0000009237055788>
{'fname': 'Ali', 'lname': 'Veli', 'uid': 1004}
{'fname': 'Ayse', 'lname': 'Veli', 'uid': 1004}

### Determinig the most frequently occuring items in  a sequence

You have a sequence of items, and you want to determine te most frequently occuring items in the sequence.

In [67]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [68]:
from collections import Counter
word_counts=Counter(words)

In [69]:
top_three=word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

In [70]:
word_counts['around']

2

In [71]:
word_counts['into']

3